{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<script src="{% static "components/typed.js/js/typed.js" %}"></script>
{% endblock %}

{% block top %}
<div class="frontpage">
    <div class="slides">
    </div>
    <div class="onslides">
        <div class="container">
            <div class="slogan">
                <h1>{% trans "Respect, Diversity" %}</h1>
                <h3>of <span id="typed"></span>in PyCon APAC.</h3>
                <!--{% include "badge/all.html" %}-->
            </div>
        </div>
        {% with navbar_class="navbar-translucent" %}
        {% include "nav.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function() {
    var sloganStrings = [
        "Python runtimes",
        "Programming languages",
        "Human races",
        "Development processes",
        "Python libraries",
        "Frameworks"
    ];
    $("#typed").typed({
        strings: sloganStrings,
        contentType: 'html',
        typeSpeed: 50,
        backDealy: 1200,
        loop: true,
        shuffle: true
    });
});
</script>
{% endblock %}
