{% extends "base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block content %}
<ul class="patrons media-list">
{% for obj in object_list %}
  <li class="media">
    <div class="pull-left">
      {% thumbnail obj.user.profile.image "128x128" crop="center" as im %}
      <img class="media-patron" src="{{ im.url }}" alt="photo of {{ obj.name }}">
      {% empty %}
      <img class="media-patron" src="{% static "image/anonymous.png" %}">
      {% endthumbnail %}
    </div>
    <div class="media-body">
      <h4 class="media-heading">
        {{ obj.name }}
      </h4>
      <span class="desc">
        {{ obj.user.profile.bio|striptags|truncatechars:100|safe }}
      </span>
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}
