{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    {% if profile.name %}
    <p><a href="{% url 'profile_edit' %}" class="btn btn-primary btn-lg">{% trans "Edit Profile" %}</a></p>
        {% if is_registered %}
        <p><a href="{% url 'registration_receipt' %}" class="btn btn-primary btn-lg">{% trans "Registration Receipt" %}</a></p>
        {% endif %}
        <table class="table table-bordered">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ profile.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Phone" %}</th>
                <td>{{ profile.phone }}</td>
            </tr>
            <tr>
                <th>{% trans "Organization" %}</th>
                <td>{{ profile.organization }}</td>
            </tr>
            <tr>
                <th>{% trans "Image" %}</th>
                <td>
                    {% if profile.image %}
                        <img src="/media/{{ profile.image }}" width="300">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{% trans "Bio" %}</th>
                <td>{{ profile.bio|safe }}</td>
            </tr>
        </table>
    {% endif %}
</div>
{% endblock %}
