{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    {% if request.user.proposal %}
        <p><a href='{% url "proposal-update" %}'>edit proposal</a></p>
        <table class="table">
            <tr>
                <th>{% trans "Title" %}</th>
                <td>{{ proposal.title }}</td>
            </tr>
            <tr>
                <th>{% trans "Brief" %}</th>
                <td>{{ proposal.brief }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ proposal.desc }}</td>
            </tr>
            <tr>
                <th>{% trans "Comment" %}</th>
                <td>{{ proposal.comment }}</td>
            </tr>
            <tr>
                <th>{% trans "Difficulty" %}</th>
                <td>{{ proposal.get_difficulty_display }}</td>
            </tr>
            <tr>
                <th>{% trans "Duration" %}</th>
                <td>{{ proposal.get_duration_display }}</td>
            </tr>
            <tr>
                <th>{% trans "Language" %}</th>
                <td>{{ proposal.get_language_display }}</td>
            </tr>
        </table>

    {% endif %}
</div>
{% endblock %}
